.main{
    background-color: whitesmoke;
    width: 100%;
    height: auto;
    margin: 20px;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}

.OrderStats{
    height: 13vh;
    background-color: rgba(182, 180, 178, 0.233);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.OrderStats .completedorders{
    height: 9vh;
    width: 25vw;
    display: flex;
    align-items: center;
    background-color: rgb(184, 184, 184);
    justify-content: center;
    gap: 50px;
    border-radius: 20px;
}
.OrderStats .div h1{
    font-size: 35px;
    font-weight: 500;
}

.OrderStats .pendingorders{
    height: 9vh;
    width: 25vw;
    display: flex;
    align-items: center;
    background-color: rgb(184, 184, 184);
    border-radius: 20px;
    justify-content: center;
    gap: 50px;
    
}

.completedpending{
    background-color: black;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.completedpending h2{
    color: aliceblue;
    font-size: 25px;
}

.heading{
    font-size: 20px;
}

.OrderStats p{
    font-size: 35px;
}

.OrderStats .outp{
    background-color: rgb(201, 201, 201);
    width: 8.5vw;
    height: 7vh;
    border-radius: 25px;
}

.back img{
    height: 76vh;
    width: 100%;
    border-radius: 10px;
    opacity: 80%;
}