.sidebar{
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: 25px 15px;
}

.sidebar img{
    width: 20px;

}

.sidebar .menu{
    display: block;
    margin: 26px;
    cursor: pointer;
}

.sidebar .home{
    
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: rgba(157, 161, 165, 0.342);
    border-radius: 50px;
    font-size: 14px;
    color: gray;
    cursor: pointer;
    margin: 13px;
    margin-top: 50px;
}


li:hover{
    background-color: rgb(218, 223, 226);
}

li{
    list-style: none;
    margin: 13px;
    color: gray;
    font-size: 15px;
    border-radius: 50px;
    background-color: rgba(182, 188, 194, 0.342);
    padding: 10px 15px;
    display: flex;
    gap: 10px;
    align-items: center;

}








